<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<properties resource="kr/or/ddit/config/mybatis/db.properties"/>

	<typeAliases>
		<typeAlias alias="memberVo" type="kr.or.ddit.member.member.model.MemberVo" />
		<typeAlias alias="PageVo" type="kr.or.ddit.page.model.PageVo" />
		<typeAlias alias="cardiacVo" type="kr.or.ddit.gold.cardiac.model.CardiacVo" />
		
<!-- 		<typeAlias alias="approvalVo" type="kr.or.ddit.member.member.model.ApprovalVo" /> -->
	</typeAliases>
	
	<mappers>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/member.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/cardiac.xml" />
	</mappers>
</configuration>