<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<properties resource="kr/or/ddit/config/mybatis/db.properties"/>

	<typeAliases>


		<typeAlias alias="PostVo" type="kr.or.ddit.category.post.model.PostVo"/>
		<typeAlias alias="memberVo" type="kr.or.ddit.member.member.model.MemberVo"/>
		<typeAlias alias="pageVo" type="kr.or.ddit.page.model.PageVo"/>
		<typeAlias alias="memberDiseaseVo" type="kr.or.ddit.member.memberDisease.model.MemberDiseaseVo"/>
		<typeAlias alias="locationVo" type="kr.or.ddit.member.careWorker.location.model.LocationVo"/>
		<typeAlias alias="dayVo" type="kr.or.ddit.member.careWorker.day.model.DayVo"/>
		<typeAlias alias="careerVo" type="kr.or.ddit.member.careWorker.career.model.CareerVo"/>
		<typeAlias alias="hospitalVo" type="kr.or.ddit.member.careWorker.hospital.model.HospitalVo"/>
		<typeAlias alias="serviceTypeVo" type="kr.or.ddit.member.careWorker.serviceType.model.ServiceTypeVo"/>
		<typeAlias alias="AttachmentVo" type = "kr.or.ddit.category.attachment.model.AttachmentVo"/>
		<typeAlias alias="ReplyVo" type = "kr.or.ddit.category.reply.model.ReplyVo"/>

		<typeAlias alias="cardiacVo" type="kr.or.ddit.gold.cardiac.model.CardiacVo" />


		

	</typeAliases>
	
	<mappers>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/member.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/post.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/attachment.xml"/>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/reply.xml"/>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/cardiac.xml"/>

	</mappers>
</configuration>