<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required Meta Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Page Title -->
<title>하위메뉴</title>

<!-- Favicon -->
<link rel="shortcut icon"
	href="./../resource/medino/images/logo/favicon.png"
	type="image/x-icon">

<!-- CSS Files -->
<link rel="stylesheet"
	href="../../resource/medino/css/animate-3.7.0.css">
<link rel="stylesheet"
	href="../../resource/medino/css/font-awesome-4.7.0.min.css">
<link rel="stylesheet"
	href="../../resource/medino/css/bootstrap-4.1.3.min.css">
<link rel="stylesheet"
	href="../../resource/medino/css/owl-carousel.min.css">
<link rel="stylesheet"
	href="../../resource/medino/css/jquery.datetimepicker.min.css">
<link rel="stylesheet"
	href="../../resource/medino/css/linearicons.css">
<link rel="stylesheet" href="../../resource/medino/css/style.css">
<link
	href="../../resour../../resource/admin-wrap-lite-master/node_modules/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="../../resour../../resource/admin-wrap-lite-master/node_modules/perfect-scrollbar/css/perfect-scrollbar.css"
	rel="stylesheet">
<link
	href="../../resour../../resource/admin-wrap-lite-master/node_modules/morrisjs/morris.css"
	rel="stylesheet">
<link
	href="../../resour../../resource/admin-wrap-lite-master/node_modules/c3-master/c3.min.css"
	rel="stylesheet">
<link
	href="../../resour../../resource/admin-wrap-lite-master/html/css/style.css"
	rel="stylesheet">
<link
	href="../../resour../../resource/admin-wrap-lite-master/html/css/pages/dashboard1.css"
	rel="stylesheet">
<link
	href="../../resour../../resource/admin-wrap-lite-master/html/css/colors/default.css"
	id="theme" rel="stylesheet">


</head>
<body>

	<!-- Header Area Starts -->
	<header class="header-area">

		<div id="header" id="home" class="header-scrolled">
			<div class="container">
				<div class="row align-items-center justify-content-between d-flex">
					<div id="logo">
						<a href="index.html"><img
							src="../../resource/medino/images/logo/logo.png" alt=""
							title="" /></a>
					</div>
					<nav id="nav-menu-container">
						<ul class="nav-menu">
							<li class="menu-active"><a href="index.html">Home</a></li>
							<li><a href="departments.html">departments</a></li>
							<li><a href="doctors.html">doctors</a></li>
							<li class="menu-has-children"><a href="">Pages</a>
								<ul>
									<li><a href="about.html">about us</a></li>
									<li><a href="elements.html">elements</a></li>
								</ul></li>
							<li class="menu-has-children"><a href="">blog</a>
								<ul>
									<li><a href="blog-home.html">blog home</a></li>
									<li><a href="blog-details.html">blog details</a></li>
								</ul></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>




	<aside class="left-sidebar">
		<div class="scroll-sidebar">
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
				
				
				<li>&nbsp;</li>
				<li>&nbsp;</li>
					<li><a class="waves-effect waves-dark" href="index.html"
						aria-expanded="false"><i class="fa fa-tachometer"></i><span
							class="hide-menu">Dashboard</span></a></li>
					<li><a class="waves-effect waves-dark"
						href="pages-profile.html" aria-expanded="false"><i
							class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a>
					</li>
					<li><a class="waves-effect waves-dark" href="table-basic.html"
						aria-expanded="false"><i class="fa fa-table"></i><span
							class="hide-menu">Tables</span></a></li>
					<li><a class="waves-effect waves-dark"
						href="icon-fontawesome.html" aria-expanded="false"><i
							class="fa fa-smile-o"></i><span class="hide-menu">Icons</span></a></li>
					<li><a class="waves-effect waves-dark" href="map-google.html"
						aria-expanded="false"><i class="fa fa-globe"></i><span
							class="hide-menu">Map</span></a></li>
					<li><a class="waves-effect waves-dark" href="pages-blank.html"
						aria-expanded="false"><i class="fa fa-bookmark-o"></i><span
							class="hide-menu">Blank</span></a></li>
					<li><a class="waves-effect waves-dark"
						href="pages-error-404.html" aria-expanded="false"><i
							class="fa fa-question-circle"></i><span class="hide-menu">404</span></a>
					</li>
				</ul>
			
			</nav>
		</div>
	</aside>

	<!--================Blog Categorie Area =================-->
	<br>
	<br>
	<br>

	
	
	<section class="blog_categorie_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="categories_post">
						<img
							src="../../resource/medino/images/blog/cat-post/cat-post-3.jpg"
							alt="post">
						<div class="categories_details">
							<div class="categories_text">
								<a href="blog-details.html"><h5>Social Life</h5></a>
								<div class="border_line"></div>
								<p>Enjoy your social life together</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="categories_post">
						<img
							src="../../resource/medino/images/blog/cat-post/cat-post-2.jpg"
							alt="post">
						<div class="categories_details">
							<div class="categories_text">
								<a href="blog-details.html"><h5>Politics</h5></a>
								<div class="border_line"></div>
								<p>Be a part of politics</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="categories_post">
						<img
							src="../../resource/medino/images/blog/cat-post/cat-post-1.jpg"
							alt="post">
						<div class="categories_details">
							<div class="categories_text">
								<a href="blog-details.html"><h5>Food</h5></a>
								<div class="border_line"></div>
								<p>Let the food be finished</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="blog_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog_left_sidebar">
						<article class="row blog_item">
							<div class="col-md-3">
								<div class="blog_info text-right">
									<div class="post_tag">
										<a href="#">Food,</a> <a class="active" href="#">Technology,</a>
										<a href="#">Politics,</a> <a href="#">Lifestyle</a>
									</div>
									<ul class="blog_meta list">
										<li><a href="#">Mark wiens<i class="fa fa-user-o"></i></a></li>
										<li><a href="#">12 Dec, 2017<i
												class="fa fa-calendar-o"></i></a></li>
										<li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li>
										<li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="blog_post">
									<img
										src="../../resource/medino/images/blog/main-blog/m-blog-1.jpg"
										alt="">
									<div class="blog_details">
										<a href="blog-details.html"><h4>Astronomy Binoculars
												A Great Alternative</h4></a>
										<p>MCSE boot camps have its supporters and its detractors.
											Some people do not understand why you should have to spend
											money on boot camp when you can get the MCSE study materials
											yourself at a fraction.</p>
										<a href="blog-details.html" class="template-btn">View More</a>
									</div>
								</div>
							</div>
						</article>
						<article class="row blog_item">
							<div class="col-md-3">
								<div class="blog_info text-right">
									<div class="post_tag">
										<a href="#">Food,</a> <a class="active" href="#">Technology,</a>
										<a href="#">Politics,</a> <a href="#">Lifestyle</a>
									</div>
									<ul class="blog_meta list">
										<li><a href="#">Mark wiens<i class="fa fa-user-o"></i></a></li>
										<li><a href="#">12 Dec, 2017<i
												class="fa fa-calendar-o"></i></a></li>
										<li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li>
										<li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="blog_post">
									<img
										src="../../resource/medino/images/blog/main-blog/m-blog-2.jpg"
										alt="">
									<div class="blog_details">
										<a href="blog-details.html"><h4>The Basics Of Buying
												A Telescope</h4></a>
										<p>MCSE boot camps have its supporters and its detractors.
											Some people do not understand why you should have to spend
											money on boot camp when you can get the MCSE study materials
											yourself at a fraction.</p>
										<a href="blog-details.html" class="template-btn">View More</a>
									</div>
								</div>
							</div>
						</article>
						<article class="row blog_item">
							<div class="col-md-3">
								<div class="blog_info text-right">
									<div class="post_tag">
										<a href="#">Food,</a> <a class="active" href="#">Technology,</a>
										<a href="#">Politics,</a> <a href="#">Lifestyle</a>
									</div>
									<ul class="blog_meta list">
										<li><a href="#">Mark wiens<i class="fa fa-user-o"></i></a></li>
										<li><a href="#">12 Dec, 2017<i
												class="fa fa-calendar-o"></i></a></li>
										<li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li>
										<li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="blog_post">
									<img src="assets/images/blog/main-blog/m-blog-3.jpg" alt="">
									<div class="blog_details">
										<a href="blog-details.html"><h4>The Glossary Of
												Telescopes</h4></a>
										<p>MCSE boot camps have its supporters and its detractors.
											Some people do not understand why you should have to spend
											money on boot camp when you can get the MCSE study materials
											yourself at a fraction.</p>
										<a href="blog-details.html" class="template-btn">View More</a>
									</div>
								</div>
							</div>
						</article>
						<article class="row blog_item">
							<div class="col-md-3">
								<div class="blog_info text-right">
									<div class="post_tag">
										<a href="#">Food,</a> <a class="active" href="#">Technology,</a>
										<a href="#">Politics,</a> <a href="#">Lifestyle</a>
									</div>
									<ul class="blog_meta list">
										<li><a href="#">Mark wiens<i class="fa fa-user-o"></i></a></li>
										<li><a href="#">12 Dec, 2017<i
												class="fa fa-calendar-o"></i></a></li>
										<li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li>
										<li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="blog_post">
									<img src="assets/images/blog/main-blog/m-blog-4.jpg" alt="">
									<div class="blog_details">
										<a href="blog-details.html"><h4>The Night Sky</h4></a>
										<p>MCSE boot camps have its supporters and its detractors.
											Some people do not understand why you should have to spend
											money on boot camp when you can get the MCSE study materials
											yourself at a fraction.</p>
										<a href="blog-details.html" class="template-btn">View More</a>
									</div>
								</div>
							</div>
						</article>
						<article class="row blog_item">
							<div class="col-md-3">
								<div class="blog_info text-right">
									<div class="post_tag">
										<a href="#">Food,</a> <a class="active" href="#">Technology,</a>
										<a href="#">Politics,</a> <a href="#">Lifestyle</a>
									</div>
									<ul class="blog_meta list">
										<li><a href="#">Mark wiens<i class="fa fa-user-o"></i></a></li>
										<li><a href="#">12 Dec, 2017<i
												class="fa fa-calendar-o"></i></a></li>
										<li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li>
										<li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="blog_post">
									<img src="assets/images/blog/main-blog/m-blog-5.jpg" alt="">
									<div class="blog_details">
										<a href="blog-details.html"><h4>Telescopes 101</h4></a>
										<p>MCSE boot camps have its supporters and its detractors.
											Some people do not understand why you should have to spend
											money on boot camp when you can get the MCSE study materials
											yourself at a fraction.</p>
										<a href="blog-details.html" class="template-btn">View More</a>
									</div>
								</div>
							</div>
						</article>
						<nav class="blog-pagination justify-content-center d-flex">
							<ul class="pagination">
								<li class="page-item"><a href="#" class="page-link"
									aria-label="Previous"> <span aria-hidden="true"> <span
											class="fa fa-angle-left"></span>
									</span>
								</a></li>
								<li class="page-item"><a href="#" class="page-link">01</a></li>
								<li class="page-item active"><a href="#" class="page-link">02</a></li>
								<li class="page-item"><a href="#" class="page-link">03</a></li>
								<li class="page-item"><a href="#" class="page-link">04</a></li>
								<li class="page-item"><a href="#" class="page-link">09</a></li>
								<li class="page-item"><a href="#" class="page-link"
									aria-label="Next"> <span aria-hidden="true"> <span
											class="fa fa-angle-right"></span>
									</span>
								</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="blog_right_sidebar">
						<aside class="single_sidebar_widget search_widget">
							<div class="input-group">
								<input type="text" class="form-control"> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
							<!-- /input-group -->
							<div class="br"></div>
						</aside>
						<aside class="single_sidebar_widget author_widget">
							<img class="author_img rounded-circle"
								src="assets/images/blog/author.png" alt="">
							<h5>Charlie Barber</h5>
							<p>Senior blog writer</p>
							<div class="social_icon">
								<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
									class="fa fa-twitter"></i></a> <a href="#"><i
									class="fa fa-github"></i></a> <a href="#"><i
									class="fa fa-behance"></i></a>
							</div>
							<p>Boot camps have its supporters andit sdetractors. Some
								people do not understand why you should have to spend money on
								boot camp when you can get. Boot camps have itssuppor ters
								andits detractors.</p>
							<div class="br"></div>
						</aside>
						<aside class="single_sidebar_widget popular_post_widget">
							<h4 class="widget_title">Popular Posts</h4>
							<div class="media post_item">
								<img src="assets/images/blog/popular-post/post1.jpg" alt="post">
								<div class="media-body">
									<a href="blog-details.html"><h5>Space The Final
											Frontier</h5></a>
									<p>02 Hours ago</p>
								</div>
							</div>
							<div class="media post_item">
								<img src="assets/images/blog/popular-post/post2.jpg" alt="post">
								<div class="media-body">
									<a href="blog-details.html"><h5>The Amazing Hubble</h5></a>
									<p>02 Hours ago</p>
								</div>
							</div>
							<div class="media post_item">
								<img src="assets/images/blog/popular-post/post3.jpg" alt="post">
								<div class="media-body">
									<a href="blog-details.html"><h5>Astronomy Or Astrology</h5></a>
									<p>03 Hours ago</p>
								</div>
							</div>
							<div class="media post_item">
								<img src="assets/images/blog/popular-post/post4.jpg" alt="post">
								<div class="media-body">
									<a href="blog-details.html"><h5>Asteroids telescope</h5></a>
									<p>01 Hours ago</p>
								</div>
							</div>
							<div class="br"></div>
						</aside>
						<aside class="single_sidebar_widget ads_widget">
							<a href="#"><img class="img-fluid"
								src="assets/images/blog/add.jpg" alt=""></a>
							<div class="br"></div>
						</aside>
						<aside class="single_sidebar_widget post_category_widget">
							<h4 class="widget_title">Post Catgories</h4>
							<ul class="list cat-list">
								<li><a href="#" class="d-flex justify-content-between">
										<p>Technology</p>
										<p>37</p>
								</a></li>
								<li><a href="#" class="d-flex justify-content-between">
										<p>Lifestyle</p>
										<p>24</p>
								</a></li>
								<li><a href="#" class="d-flex justify-content-between">
										<p>Fashion</p>
										<p>59</p>
								</a></li>
								<li><a href="#" class="d-flex justify-content-between">
										<p>Art</p>
										<p>29</p>
								</a></li>
								<li><a href="#" class="d-flex justify-content-between">
										<p>Food</p>
										<p>15</p>
								</a></li>
								<li><a href="#" class="d-flex justify-content-between">
										<p>Architecture</p>
										<p>09</p>
								</a></li>
								<li><a href="#" class="d-flex justify-content-between">
										<p>Adventure</p>
										<p>44</p>
								</a></li>
							</ul>
							<div class="br"></div>
						</aside>
						<aside class="single-sidebar-widget newsletter_widget">
							<h4 class="widget_title">Newsletter</h4>
							<p>Here, I focus on a range of items and features that we use
								in life without giving them a second thought.</p>
							<div class="form-group d-flex flex-row">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-envelope" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" class="form-control"
										id="inlineFormInputGroup" placeholder="Enter email"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter email'">
								</div>
								<a href="#" class="bbtns">Subscribe</a>
							</div>
							<p class="text-bottom">You can unsubscribe at any time</p>
							<div class="br"></div>
						</aside>
						<aside class="single-sidebar-widget tag_cloud_widget">
							<h4 class="widget_title">Tag Clouds</h4>
							<ul class="list">
								<li><a href="#">Technology</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Architecture</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Technology</a></li>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Art</a></li>
								<li><a href="#">Adventure</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Adventure</a></li>
							</ul>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================Blog Area =================-->
	<div class="footer_bar">
		<div class="container">
			<div class="row">
				<div class="col">
					<div
						class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
						<nav class="footer_nav">
							<ul
								class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
								<li><a href="about.html">이용약관</a></li>
								<li><a href="services.html">개인정보 취급방침</a></li>
								<li><a href="news.html">고객센터</a></li>

							</ul>
						</nav>

						<div class="footer_phone ml-lg-auto">
							<i class="fa fa-phone" aria-hidden="true"></i> <span>+34
								586 778 8892</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Area End -->


	<!-- Javascript -->
	<script
		src="../../resource/medino/js/vendor/jquery-2.2.4.min.js"></script>
	<script
		src="../../resource/medino/js/vendor/bootstrap-4.1.3.min.js"></script>
	<script src="../../resource/medino/js/vendor/wow.min.js"></script>
	<script
		src="../../resource/medino/js/vendor/owl-carousel.min.js"></script>
	<script
		src="../../resource/medino/js/vendor/jquery.datetimepicker.full.min.js"></script>
	<script
		src="../../resource/medino/js/vendor/jquery.nice-select.min.js"></script>
	<script src="../../resource/medino/js/vendor/superfish.min.js"></script>
	<script src="../../resource/medino/js/main.js"></script>

	<script
		src="../../resource/admin-wrap-lite-master/node_modules/jquery/jquery.min.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/node_modules/bootstrap/js/popper.min.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/node_modules/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/html/js/perfect-scrollbar.jquery.min.js"></script>
	<script src="../../resource/admin-wrap-lite-master/html/js/waves.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/html/js/sidebarmenu.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/html/js/custom.min.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/node_modules/raphael/raphael-min.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/node_modules/morrisjs/morris.min.js"></script>
	<!--c3 JavaScript -->
	<script
		src="../../resource/admin-wrap-lite-master/node_modules/d3/d3.min.js"></script>
	<script
		src="../../resource/admin-wrap-lite-master/node_modules/c3-master/c3.min.js"></script>
	<!-- Chart JS -->
	<script
		src="../../resource/admin-wrap-lite-master/html/js/dashboard1.js"></script>


</body>
</html>
