<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>CSS Navigation Bar</title>
    <link rel="stylesheet" type="text/css" href="demo.css" />
	<link rel="stylesheet" type="text/css" href="dropdownnav.css" />
</head>
<body>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
             <nav class="animatedNav">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                            <ul>
                                <li><a href="#">Latest Tutorial</a></li>
                                <li><a href="#">Get Help</a></li>
                                <li><a href="#">Download this example</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Walkthroughs</a>
                            <ul>
                                <li><a href="#">Watch</a></li>
                                <li><a href="#">Notifications</a></li>
                                <li><a href="#">Code</a></li>
                                <li><a href="#">Learn</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                            <ul>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Feedback</a>
                            <ul>
                            	 <li><a href="#">jQuery Techniques</a></li>
                                <li><a href="#">CSS Tutorials</a></li>
                                <li><a href="#/">Everything else</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </nav>
    
		</div>
    </div>
</section>
     
     
     
     
     
	</body>
</html>