@charset "utf-8";

template-header1 {
  display:block;
}

template-header2 {
  display:block;
}

#template-map template-header {
  display:none;
}

#template-map #contents {
  margin-top:155px;
  margin-bottom:100px;
}

#template-map .map-right {

  width:390px;
  height:500px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:300;
  color:#3b3b3b;
  background-color:#f0f1f3;
}


#template-map .search-cnt {
  color:#fff;
  height:40px;
  line-height:40px;
  background-color:#3a3f44;
  padding-left:15px;
  margin:0px;
}

#template-map .map-right-scholl {
  height:450px;
  overflow-y:scroll;
}

#template-map .search-kind {
  padding-left:18px;
  margin:15px 0px 5px 10px;
  background:url(/images/mypage_title.png) no-repeat 0px 50%;
}

#template-map .search-ul {
  padding:10px 10px 0px 10px;
  list-style-type:none;
}

#template-map .search-li {
  width:100%;
  min-height:125px;
  padding:0px 3px 0px 0px;
  margin-bottom:10px;
  border:1px solid #d9d9d9;
  /*background-color:#fff;*/
  cursor:pointer;
}

#template-map .search-img{
  float:left;
  width:140px;
  height:120px;
  margin-right:10px;
  text-align:center;
  padding:10px;
}

#template-map .search-img img{
  max-width:120px;
  max-height:100px;
}

#template-map .group-name {
  margin-top:3px;
  font-weight:normal !important;
}

#template-map .search-name {
  margin:3px 0px 6px 0px;
  font-size:15px;
}

#template-map .search-addr,#template-map .search-career,#template-map .search-score,#template-map .search-tel {
  font-size:12px;
  margin:0px 0px 2px 0px;
}

#template-map .search-score {
  background:url(/images/star_score.png) no-repeat 150px 50%;
}

#template-map .search-img1 {
  float:left;
  width:103px;
  height:103px;
  border:1px solid #d9d9d9;
  margin-right:15px;
  text-indent:-9999px;
}

.customoverlay {position:relative;bottom:60px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {
  display:block;
  text-decoration:none;
  color:#000;
  text-align:center;
  border-radius:6px;
  font-size:14px;
  font-weight:bold;
  overflow:hidden;
}

.customoverlay a.color00 {
  background: #3fa3db;
  background: #3fa3db url(/images/arrow_white.png) no-repeat right 14px center;
}

.customoverlay a.color01 {
  background: #f9839f;
  background: #f9839f url(/images/arrow_white.png) no-repeat right 14px center;
}

.customoverlay a.color02 {
  background: #49be25;
  background: #49be25 url(/images/arrow_white.png) no-repeat right 14px center;
}

.customoverlay a.color03 {
  background: #fc992e;
  background: #fc992e url(/images/arrow_white.png) no-repeat right 14px center;
}

.customoverlay a.color04 {
  background: #c27bff;
  background: #c27bff url(/images/arrow_white.png) no-repeat right 14px center;
}

.customoverlay a.color05 {
  background: #808080;
  background: #808080 url(/images/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url(/images/vertex_white.png)}

#template-header1 .search-check button {
  font-family: 'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:normal;
  letter-spacing:-1px;
}

.map-menu2 button {
  font-family: 'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:normal;
  letter-spacing:-1px;
}

.map-menu2 button.btn-active {
  color:#fff;
  font-weight:bold;
  background-color:#8baad4;
  border:solid 1px #6185b6;
}

#template-header1 .map-menu2 li {
  float:left;
  list-style-type:none;
  padding:0px 5px 0px 5px;
  margin:3px 0px 0px 0px !important;
}

.indicator {
  position:absolute;
  z-index:9999999999;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background:url(/images/indicator1.gif) no-repeat 40% 50%;
}

.select-address {
  position:fixed;
  top:140px;
  left:30px;
  width:220px;
  height:500px;
  z-index:100000000000000000000;
}

.select-address > select {
  width:100%;
}

.main-select-address {
  position: relative;
  display: inline-block;
  width: 569px;
  height: 300px;
  z-index: 100000000000000000000;
}

.main-select-address > select {
  width:100%;
}

.flabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.fcolor00 {
  background: #3fa3db;
}

.fcolor01 {
  background: #f9839f;
}

.fcolor02 {
  background: #49be25;
}

.fcolor03 {
  background: #fc992e;
}

.fcolor04 {
  background: #c27bff;
}

.fcolor05 {
  background: #808080;
}

.map-favorite {
  color:#b13f92;
  cursor:pointer;
}

#template-header2 .btn-back {
  border: 1px solid #bbc2c5;
  border-radius: 5px;
  text-decoration: none;
  background-color: #e6f9ff;
}

#template-header1 .btn-back:hover {
  border: 1px solid #bbc2c5;
  border-radius: 5px;
  text-decoration: none;
  background-color: #e6f9ff;
}

#template-header1 .btn-back {
  display: block;
  height: 39px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #3b3b3b;
  line-height: 39px;
  margin-top: 19px;
  padding:0px 10px 0px 10px;
  border: 1px solid #bbc2c5;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ededed;
  margin-right:20px;
}

#template-header1 .right-line {
  background:url(/images/line.gif) no-repeat 100% 50%;
  height:45px;
}

.contents-mapdetail {
  width:900px;
  margin:0 auto;
  clear:both;
  margin-top:20px;

}

.mapdetail-header {
  clear:both;
  min-height:400px;

}

.photo-mapdetail {
  width:570px;
  height:407px;
  float:left;
  margin-right:20px;
  border:solid 1px #888;
}

.contents-mapdetail .photo-header {
  background-color:#6a6a6a;
  text-align:right;
  padding-right:10px;
  color:#fff;
  height:27px;
  padding-top:3px;
}

.contents-mapdetail .carousel-inner {
  top: 0px !important;
  height: 100%;
  background-color:#fff;
}

.contents-mapdetail .carousel-inner .item {
  height: 100%;
  background-color:#fff;
}

.contents-mapdetail .summary-mapdetail {
  float:left;
  height:410px;
  border:solid 1px #d9d9d9;
  width:310px;
  padding:20px;
  position:relative;
}

.summary-mapdetail ul {
  list-style-type:none;
  padding:0px;
}

.summary-mapdetail .summary-info {
  height:139px;
  overflow: hidden;
}

.btn-extra {
  height:45px;
  border:solid 1px #cacaca;
  background-color:#f0f6fa;
  font-size:18px;
  font-family: 'Noto Sans KR', sans-serif;
  color:#666;
}

.btn-extra:hover, .btn-extra:focus {
  height:45px;
  border:solid 1px #aaa;
  background-color:#e5edf2;
  font-size:18px;
  font-family: 'Noto Sans KR', sans-serif;
  color:#666;
}

.btn-extra1 {
  height:45px;
  border:solid 1px #0989d9;
  background-color:#0989d9;
  font-size:18px;
  font-family: 'Noto Sans KR', sans-serif;
  color:#fff;
}

.btn-extra1:hover, .btn-extra1:focus {
  height:45px;
  border:solid 1px #0b7cc3;
  background-color:#0b7cc3;
  font-size:18px;
  font-family: 'Noto Sans KR', sans-serif;
  color:#fff;
}

.mapdetail-table {
  width:100%;
  border-collapse:collapse;
}

.mapdetail-table tbody {
  border-top:solid 2px #000;
}

.mapdetail-table tbody th {
  background-color:#f5f5f5;
  font-family: 'Noto Sans KR', sans-serif;
  border-right:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  text-align:center;
  padding:10px 0px 10px 0px;
  font-size:16px;
}

.mapdetail-table tbody td {
  font-family: 'Noto Sans KR', sans-serif;
  border-bottom:solid 1px #ccc;
  padding-left:20px;
  font-size:16px;
}

.btn-area {
  height: 102px;
  width: 268px;
}

.btn-matching {
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
}

.carousel-indicators .active {
  background-color: #000;
}

.carousel-indicators li {
  border: 1px solid #fff;
}

.map-facility-image {
  width:100%;
  height:100%;
  background-color:#fff;
}

.cdate {
  color:#777;
}

#map > div > div > div > div:hover {
	z-index:99999999 !important;
}


#mapDetailModal .modal-dialog {
  position: fixed;
  left:50%;
  top:50%;
  margin-left:-300px;
  margin-top:-400px;
  z-index:9999;
}

#mapDetailModal .modal-lg {
  position: fixed;
  left:50%;
  top:50%;
  margin-left:-450px !important;
  margin-top:-400px !important;
  z-index:9999;
}

.left-banner {
  position: fixed;
  top: 175px;
  left: 50%;
  margin-left:-630px;
  width:170px;
}

.left-banner > ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.left-banner > ul > li {
  padding:0px;
  margin-bottom:10px;
}

.left-banner > ul > li > img {
  max-width:170px;
}

.center-banner > img {
  max-width:900px;
}

.right-banner {
  position: fixed;
  top: 175px;
  left: 50%;
  margin-left:460px;
  width:180px;
}

.right-banner > ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.right-banner > ul > li {
  padding:5px;
  text-align:center;
  border:solid 1px #ddd;
  margin-bottom:10px;
}
.right-banner > ul > li > a > img {
  max-width:170px;
  max-height: 100px;
  margin-bottom:5px;
}

.groupCode01 {
  border:solid 1px #ddd;
  background-color:#fff;
  padding:5px;
}
