@charset "utf-8";

@-webkit-keyframes leftmenu-slideleft {
  0% {width:240px;}
  100% {width:70px;}
}

@-moz-keyframes leftmenu-slideleft {
  0% {width:240px;}
  100% {width:70px;}
}

@keyframes leftmenu-slideleft {
  0% {width:240px;}
  100% {width:70px;}
}


@-webkit-keyframes leftmenu-slideright {
  0% {width:0px;}
  100% {width:90%;}
}

@-moz-keyframes leftmenu-slideright {
  0% {width:0px;}
  100% {width:90%;}
}

@keyframes leftmenu-slideright {
  0% {width:0px;}
  100% {width:90%;}
}

@-webkit-keyframes contents-slideleft {
  0% {
    width:-webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
  }
  100% {
    width:-webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
  }
}

@-moz-keyframes contents-slideleft {
  0% {
    width:-webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
  }
  100% {
    width:-webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
  }
}

@keyframes contents-slideleft {
  0% {
    width:-webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
  }
  100% {
    width:-webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
  }
}


@-webkit-keyframes contents-slideright {
  0% {
    width:-webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
  }
  100% {
    width:-webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
  }
}

@-moz-keyframes contents-slideright {
  0% {
    width:-webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
  }
  100% {
    width:-webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
  }
}

@keyframes contents-slideright {
  0% {
    width:-webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
  }
  100% {
    width:-webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
  }
}