@charset "utf-8";

#contents {
  min-width:1100px;
}

#template-main .main-visual {
  /*margin-top:23px;*/
  height:1029px;
}

.carousel {
  background-color:#333;
  height:100%;
  max-width:1920px;
  margin:0 auto;
}

.carousel-inner {
  top: -100px;
}

.carousel-inner .item1 {
  background-color:#000;
  background:url(/images/main_visual_01.jpg) no-repeat 0% 0%;
}

.carousel-inner .item2 {
  background:url(/images/main_visual_02.jpg) no-repeat 0% 0%;
}

.carousel-inner .item3 {
  background:url(/images/main_visual_03.jpg) no-repeat 0% 0%;
}

.carousel-inner .item {
  height:1029px;
}

.carousel-indicators {
  bottom: 50px !important;
  display:none;
}

#template-main .top-txt {
  position:absolute;
  display:inline-block;
  top:235px;
  width:1100px;
  height:90px;
}

#template-main .top-txt1 {
  font-family: 'NanumSquare', gulim;
  font-size:23px;
  font-weight:500;
  letter-spacing:-1px;
  color:#000;
  background:url(/images/main_heart.png) no-repeat 0px 50%;
  padding-left:40px;
  margin-bottom:0px;
}

#template-main .top-txt2 {
  font-family: 'Jeju Myeongjo', gulim;
  font-size:45px;
  font-weight:500;
  letter-spacing:-1px;
  color:#262626;
}

#template-main .center-search-area {
  width:1100px;
  margin:0 auto;
}

#template-main .center-search {
  position:absolute;
  display:inline-block;
  top:530px;
  width:1100px;
  height:400px;
}

#template-main .left-search {
  float:left;
  font-family: 'Noto Sans KR', gulim;
  font-size:20px;
  text-align:center;
  letter-spacing:-1px;
}

#template-main .left-btn1, #template-main .left-btn2 {
  display:block;
  width:260px;
  height:197px;
  margin:1px;
  padding-top:120px;
  color:#FFF;
  line-height:24px;
}

#template-main .left-btn1 {
  background:url(/images/main_left_btn1.png) no-repeat 95px 43px;
  background-color:#00aa74;
}

#template-main .left-btn1:hover {
  color:#FFF;
  background-color:#00885c;
}

#template-main .left-btn2 {
  background:url(/images/main_left_btn2.png) no-repeat 100px 43px;
  background-color:#373b3d;
}

#template-main .left-btn2:hover {
  color:#FFF;
  background-color:#292c2e;
}

#template-main .right-search {
  float:right;
  width:830px;
  height:397px;
}

#template-main .right-search1 {
  width: 830px;
  height:77px;
}

#template-main .right-search1 {
  padding:0px;
}

#template-main .right-search1 li {
  float:left;
  list-style-type:none;
  width:272px;
  height:62px;
  margin-top:15px;
}

#template-main .right-search1 li:not(:nth-child(3)) {
  margin-right:6px;
}

#template-main .right-search1 li a {
  display:block;
  font-family: 'Noto Sans KR', gulim;
  font-size:24px;
  font-weight:400;
  letter-spacing:-1px;
  color:#3b3b3b;
  width:272px;
  height:62px;
  text-align:center;
  border:1px solid #FFF;
  background-color:#FFF;
  border-radius:0px;
}

#template-main .right-search1 li a:hover {
  text-decoration: underline;
}

#template-main .right-search1>li.active>a,
#template-main .right-search1>li.active>a:focus,
#template-main .right-search1>li.active>a:hover,
#template-main .right-search1 li:active >a,
#template-main .right-search1 li:hover >a  {
  color:#FFF;
  font-size:30px;
  height:77px;
  line-height:60px;
  margin-top:-15px;
  background-color:#0989d9;
  border:1px solid #0989d9;
}

#template-main .right-search2 {
  width: 830px;
  height:242px;
  padding:45px 30px 0px 30px;
  background-color:#FFF;
  border-top:20px solid #0989d9;
  border-left:20px solid #0989d9;
  border-right:20px solid #0989d9;
}

#template-main .right-search2-1 {
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:400;
  letter-spacing:-1px;
  padding-left:25px;
  background:url(/images/search.png)  no-repeat 0px 50%;
}

#template-main .right-search2-2 {
  height:55px;
}

#template-main .right-search2-2 .input-txt {
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  letter-spacing:-1px;
  width:569px;
  height:53px;
  padding:0px 18px 0px 18px;
  border:1px solid #0989d9;
  float:left;
}

#template-main .right-search2-2 .input-btn {
  font-family: 'Noto Sans KR', gulim;
  font-size:24px;
  font-weight:300;
  letter-spacing:-1px;
  color:#FFF;
  width:160px;
  height:53px;
  background-color:#0989d9;
  vertical-align:bottom;
  border-radius:0px;
}

#template-main .right-search3 {
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  letter-spacing:-1px;
  width: 830px;
  height:75px;
  border:1px solid #0989d9;
}

#template-main .right-search3 ul {
  padding:0px;
}

#template-main .right-search3 ul li {
  float:left;
  list-style-type:none;
  width:276px;
  height:75px;
  background-color:#0989d9;
}

#template-main .right-search3 ul li a {
  display:block;
  font-family: 'Noto Sans KR', gulim;
  font-size:16px;
  font-weight:400;
  letter-spacing:-1px;
  color:#FFF;
  width:276px;
  height:75px;
  line-height:75px;
}

#template-main .right-search3 ul li a:hover {
  background-color:#003b6c;
}

#template-main .right-search3-1 {
  background:url(/images/right_search3_1.png)  no-repeat 52px 50%;
  padding-left:86px;
}

#template-main .right-search3-2 {
  background:url(/images/right_search3_2.png)  no-repeat 32px 50%;
  padding-left:67px;
}

#template-main .right-search3-3 {
  background:url(/images/right_search3_3.png)  no-repeat 66px 50%;
  padding-left:95px;
}

#template-main .right-search3-1,
#template-main .right-search3-2 {
  border-right:1px solid #83c6ec;
 }

#template-main .quick-btn {
  position:absolute;
  top:1039px;
  width:100%;
  min-width:1100px;
  height:130px;
  background-color:#FFF;
  border-bottom:1px solid #d8d8d8;
}

#template-main .quick-btn ul {
  list-style-type:none;
  width: 1100px;
  height:130px;
  margin:0 auto;
  padding: 0px;
}

#template-main .quick-btn ul li {
  float:left;
  margin:0px;
  padding:0px;
  height:130px;
  width: 275px;
}

#template-main .quick-btn ul li a {
  display:inline-block;
  margin-top: 20px;
  width: 275px;
  height:90px;
  font-family: 'Noto Sans KR', gulim;
  font-size:16px;
  font-weight:400;
  letter-spacing:-1px;
  color:#3b3b3b;
}

#template-main .quick-btn ul li a:hover {
  border:1px solid #979c9e;
}

#template-main .quick-btn1 {
  padding:25px 15px 0px 117px;
  background:url(/images/quick_btn1.png)  no-repeat 50px 27px;
  border-right: 1px solid #d8d8d8;
}

#template-main .quick-btn2 {
  padding:25px 15px 0px 164px;
  background:url(/images/quick_btn2.png)  no-repeat 55px 27px;
  border-right: 1px solid #d8d8d8;
}

#template-main .quick-btn3 {
  padding:25px 15px 0px 149px;
  background:url(/images/quick_btn3.png)  no-repeat 63px 27px;
  border-right: 1px solid #d8d8d8;
}

#template-main .quick-btn4 {
  padding:25px 15px 0px 149px;
  background:url(/images/quick_btn4.png)  no-repeat 68px 27px;
}

#template-main .notice-interview {
  position:absolute;
  top:933px;
  width:100%;
  height:61px;
}

#template-main .notice-interview-in {
  width: 1100px;
  height:60px;
  margin:0 auto;
  background-color:#FFF;
  opacity:0.9;
}

#template-main .notice {
  float: left;
  width:50%;
  height:100%;
}

#template-main .notice-title {
  float: left;
  height:60px;
  padding:0px 0px 0px 30px;
  margin:0px;
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  color:#3b3b3b;
  line-height:60px;
  letter-spacing:-1px;
}

#template-main .notice-txt {
  float: left;
  display:block;
  height:60px;
  font-family: 'dotum', gulim;
  letter-spacing:-1px;
  font-size:16px;
  color:#3b3b3b;
  padding:0px;
  line-height:60px;
}

#template-main .notice-new {
  float:left;
  display:block;
  height:60px;
  width:34px;
  margin:0px 0px 0px 10px;
  text-indent:-9999px;
  background:url(/images/notice_new.png) no-repeat 50% 50%;
}

#template-main .more {
  float:left;
  display:block;
  height:60px;
  width:15px;
  margin:0px 30px 0px 10px;
  text-indent:-9999px;
  background:url(/images/more.png) no-repeat 50% 50%;
}

#template-main .interview {
  float: left;
  width:50%;
  height:100%;
}

#template-main .interview-title {
  float: left;
  height:60px;
  padding:0px;
  margin:0px;
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  color:#3b3b3b;
  line-height:60px;
  letter-spacing:-1px;
}

#template-main .interview-txt {
  float: left;
  display:block;
  height:60px;
  font-family: 'dotum', gulim;
  font-size:16px;
  color:#3b3b3b;
  padding:0px;
  line-height:60px;
  letter-spacing:-1px;
}

.carArrow {display: none;}
.carCircle {display: none;}

#template-main .modal-large1 {
	width:1082px;
}	

#left-btn1-Modal .modal-header {
	height:180px;
	background: linear-gradient(to right, #0bc2b1 , #0989d9);
}

#left-btn1-Modal .modal-header > p {
	float:left;
  font-family: 'NanumSquare', gulim;
  color:#fff;
  letter-spacing:-1px;
}	

#left-btn1-Modal .modal-header .modal-title {
  font-size:45px;
  font-weight:500;	
  line-height:180px;
	margin:0px 30px;	
}	

#left-btn1-Modal .modal-header .title-txt {
	font-size:14px;
	margin-top:50px;
}

#left-btn1-Modal .modal-header .close {
  font-size: 90px !important;
  font-weight: 300 !important;
  color: #fff !important;
}

#left-btn1-Modal .modal-body {
  font-family: 'NanumSquare', gulim;
  font-size:16px;
  color:#3b3b3b;
  letter-spacing:-1px;	
  padding:0px 30px;
}

#left-btn1-Modal .modal-body .service-ul {
	padding:0px;
	margin:0 auto;
}

#left-btn1-Modal .modal-body .service-ul> li {
	list-style-type:none;
	float:left;
	width:265px;
	height:110px;
}	

#left-btn1-Modal .modal-body .service-ul> li > p {
	width:225px;
	height:80px;	
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius:4px;
	text-align:center;
}	

#left-btn1-Modal .modal-body .right-li {
	width:225px !important;
}

#left-btn1-Modal .modal-body .lh1 {
	line-height:80px;
}

#left-btn1-Modal .modal-body .lh2 {
	line-height:150%;
	padding-top:13px;
}

#left-btn1-Modal .modal-body .lh3 {
	line-height:150%;
	padding-top:2px;
}

#left-btn1-Modal .modal-body .service-ul >li:nth-child(-n+4) {
	background:url(/images/left_arrow.gif) no-repeat 237px 28px;
}

#left-btn1-Modal .modal-body .service-ul >li:nth-child(4) {
	background:url(/images/down_arrow.gif) no-repeat 50% 87px;
}

#left-btn1-Modal .modal-body .service-ul >li:nth-child(n+5) {
	background:url(/images/right_arrow.gif) no-repeat 237px 28px;
}

#left-btn1-Modal .modal-body .service-ul >li:nth-child(3) > p {
	background-color:#fff8b7;
}	

#left-btn1-Modal .modal-footer {
	border:0px solid;
	padding:0px;
}
	
#left-btn1-Modal .modal-footer .btn-grp {
	height:50px;
	margin:45px auto 65px auto;
	text-align:center;
}

#left-btn1-Modal .modal-footer a {
	display:inline-block;
	width:250px;
	height:50px;
	line-height:50px;
	margin:0px 15px;	
	background-color:#3b3b3b;
  font-family: 'Noto Sans KR', gulim;
  font-size:22px;
  font-weight:500;
	color:#fff;
	letter-spacing:-1px;
	text-align:center;
}

#left-btn1-Modal .modal-footer a:hover {
	text-decoration:none;
}	

#template-main .modal-large2 {
	width:862px;
}	

#left-btn2-Modal .modal-header {
	height:180px;
	background: linear-gradient(to right, #0bc2b1 , #0989d9);
}

#left-btn2-Modal .modal-header .title-txt {
  font-family: 'NanumSquare', gulim;
	font-size:19px;
  color:#fff;
  letter-spacing:-1px;
	margin:30px 0px 0px 30px;
}

#left-btn2-Modal .modal-header .close {
  font-size: 90px !important;
  font-weight: 300 !important;
  color: #fff !important;
}

#left-btn2-Modal .modal-body {
  font-family: 'NanumSquare', gulim;
  font-size:16px;
  color:#3b3b3b;
  letter-spacing:-1px;	
  padding:0px 30px;
}

#left-btn2-Modal .modal-body .service-ul1 {
	padding:0px;
	margin:60px 0px 0px 25px;
}

#left-btn2-Modal .modal-body .service-ul1> li {
	list-style-type:none;
	float:left;
	width:200px;
	height:200px;
	font-size:22px;
	color:#fff;
	font-weight:500;
	text-align:center;
}	

#left-btn2-Modal .modal-body .service-ul1> li:nth-child(1) {
	background:url(/images/pcircle_01.gif) no-repeat 0% 0%;
	padding-top:85px;	
}

#left-btn2-Modal .modal-body .service-ul1> li:nth-child(3) {
	background:url(/images/pcircle_02.gif) no-repeat 0% 0%;
	padding-top:73px;
}

#left-btn2-Modal .modal-body .service-ul1> li:nth-child(5) {
	background:url(/images/pcircle_03.gif) no-repeat 0% 0%;
	padding-top:62px;
}
	
#left-btn2-Modal .modal-body .middle-li {
	width:78px !important;
	font-size:48px !important;
	color:#bebebe !important;
	line-height:200px;
}

#left-btn2-Modal .modal-footer {
	border:0px solid;
	padding:0px;
}
	
#left-btn2-Modal .modal-footer .btn-grp {
	height:50px;
	margin:80px auto 65px auto;
	text-align:center;
}

#left-btn2-Modal .modal-footer a {
	display:inline-block;
	width:243px;
	height:50px;
	line-height:50px;
	margin:0px 15px;	
	background-color:#3b3b3b;
  font-family: 'Noto Sans KR', gulim;
  font-size:22px;
  font-weight:500;
	color:#fff;
	letter-spacing:-1px;
	text-align:center;
}

#left-btn2-Modal .modal-footer a:hover {
	text-decoration:none;
}	