@charset "utf-8";

#template-mypage .mypage-contents {
  margin-top:140px;
}

#template-mypage .mypage {
  height:100%;
  color:#fff;
  padding-top:30px;
  border-bottom:1px solid #d9d9d9;
  min-height:700px;
}

#template-mypage .mypage-in {
  width:1100px;
  margin:0 auto;
}

#template-mypage .mypage-title {
  font-family: 'NanumSquare', gulim;
  font-size:48px;
  font-weight:700;
  color:#3b3b3b;
  letter-spacing:-1px;
  text-align:center;
  margin:0px;
  padding:20px 0px 50px 0px;
  background:url(/images/title_line.png) no-repeat 50% 0px;
  border-bottom:4px solid #3b3b3b;
}

#template-mypage .mypage-left {
  float:left;
  width:220px;
}

#template-mypage .member {
  height:166px;
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:400;
  color:#3b3b3b;
  padding:33px 0px 33px 0px;
  background-color:#f0f6fa;
  border-bottom:1px solid #d9d9d9;
  text-align:center;
}


#template-mypage .item-hidden-file {
  width: 70px;
  height:30px;
  opacity:0;
  left:0px; top:0px;
  position:absolute;
}

#template-mypage .member > p {
  margin:3px 0px 3px 0px;
}

#template-mypage .mb-kind {
  font-size:30px;
  font-weight:600;
}

#template-mypage .left-ul {
  padding:0px;
}

#template-mypage .left-ul > li {
  height:50px;
  border-bottom:1px solid #d9d9d9;
}

#template-mypage .left-ul > li > a {
  display:block;
  height:50px;
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:400;
  color:#3b3b3b;
  line-height:50px;
  padding-left:15px;
  border-bottom:1px solid #d9d9d9;
}

#template-mypage .left-ul > li > a:hover {
  color:#fff;
  text-decoration: none;
  background:url(/images/mypage_left_arrow.png) no-repeat 200px 50%;
  background-color:#0989d9;
}

#template-mypage .left-ul > li > a.active {
  color:#fff;
  text-decoration: none;
  background:url(/images/mypage_left_arrow.png) no-repeat 200px 50%;
  background-color:#0989d9;
}

#template-mypage .mypage-main {
  margin-left:220px;
}

#template-mypage .mypage-menu-title {
  font-family: 'NanumSquare', gulim;
  font-size:25px;
  font-weight:700;
  color:#3b3b3b;
  margin:50px 0px 30px 50px;
  padding-left:25px;
  background:url(/images/mypage_title.png) no-repeat 0px 50%;
}


.mypage-modify {
  width:100%;
  height:100%;
}

.mypage-modify > form > div {
  margin-left:40px;
}

.mypage-modify > form > div > .item-title {
  font-family: 'NanumSquare', gulim;
  font-size:20px;
  font-weight:700;
  color:#3b3b3b;
  margin:40px 0px 10px 0px;
  padding-left:25px;
  background:url(/images/mypage_title.png) no-repeat 0px 50%;
}

.mypage-modify > form > div > p > .item-txt {
  font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:400;
  color:#3b3b3b;
  padding-right:10px;
  background:url(/images/star.png) no-repeat right center;
}

.mypage-modify > form > div > .item-div,
.mypage-modify > form > div > .item-div1 {
  font-family: 'Noto Sans KR', gulim;
  font-size:22px;
  font-weight:300;
  color:#3b3b3b;
  border:1px solid #dfdfdf;
  background-color:#f6f6f6;
  border-radius: 5px;
  padding:30px 0px;
}

.mypage-modify > form > div > .item-div > label {
  width:185px;
  text-align:right;
  font-weight:400;
  color:#3b3b3b;
  letter-spacing:-1px;
  padding:10px;
  margin:7px 0px;
}

.mypage-modify > form > div > .item-div1 > label {
  width:120px;
  text-align:right;
  font-weight:400;
  color:#3b3b3b;
  letter-spacing:-1px;
  padding:10px;
  margin:7px 0px;
}

.mypage-modify > form > div > .item-div1 > .need,
.mypage-modify > form > div > .item-div > .need {
  background:url(/images/star.png) no-repeat right center;
}

.mypage-modify > form > div > .item-div1 > .inputbox,
.mypage-modify > form > div > .item-div > .inputbox {
  width:410px;
  height:45px;
  line-height:45px;
  color:#3b3b3b;
  margin-left:10px;
  padding-left:10px;
}

.mypage-modify > form > div > .item-div1 > .item-btn,
.mypage-modify > form > div > .item-div > .item-btn {
  width:140px;
  height:45px;
  font-family: 'Noto Sans KR', gulim;
  font-size:22px;
  font-weight:300;
  color:#fff;
  background-color:#d80000;
  vertical-align:baseline;
  border-radius:0px;
}

.mypage-modify > form > div > .item-div1 > .item-btn-black,
.mypage-modify > form > div > .item-div > .item-btn-black {
  background-color:#3b3b3b;
  width:150px;
}

.mypage-modify > form > div > .item-div1 > .item-btn-gray,
.mypage-modify > form > div > .item-div > .item-btn-gray {
  background-color:#6a6a6a;
}

.mypage-modify > form > div > .item-div1 > .width-gender,
.mypage-modify > form > div > .item-div > .width-gender {
  width:190px;
}

.mypage-modify > form > div > .item-div1 > .id-check,
.mypage-modify > form > div > .item-div > .id-check {
  margin-left:195px;
  color:#0989d9;
}

.mypage-modify > form > div > .item-div1 > .id-check-false,
.mypage-modify > form > div > .item-div > .id-check-false {
  margin-left:195px;
  color:red;
}


.mypage-modify > form > div > .item-div1 > .pic-div,
.mypage-modify > form > div > .item-div > .pic-div {
  display:inline-block;
  margin-left:10px;
}

.mypage-modify > form > div > .item-div1 > .pic-area,
.mypage-modify > form > div > .item-div > .pic-area {
  float:left;
  width:110px;
  height:110px;
  border:1px solid #888d8f;
  background-color:#fff;
}

#template-memberjoin-step2 .pic-area>span {
  display:block;
  width:96px;
  height:96px;
  background-color:#f6f6f6;
  margin:7px;
  text-align:center;
  padding-top:23px;
  font-size:18px;
}

#template-memberjoin-step2 .width-pic {
  width:290px;
}

#template-memberjoin-step2 .pic-subtxt {
  margin-left:122px;
}

#template-memberjoin-step2 .checkbox-subtxt {
  margin:-15px 0px 20px 200px;
}


.mypage-modify > form > .accept-btn-div {
  text-align:center;
  margin:50px 0px 50px 0px;
}

.mypage-modify > form > .accept-btn-div > .accept-btn {
  display:inline-block;
  width:250px;
  height:55px;
  line-height:54px;
  background-color:#6a6a6a;
  font-family: 'Noto Sans KR', gulim;
  font-size:22px;
  font-weight:600;
  color:#fff;
  text-decoration:none;
  margin:0px 10px;
  border:solid 0px;
}

.memberjoin .accept-btn1 {
  background-color:#0989d9;
}

#template-mypage .mypage-favorite,
#template-mypage .mypage-match
{
  color:#000;
  min-height:500px;
  padding-left:40px;
}
