.useguide-contents {
	margin-top:140px;
}
    
.useguide {
  color:#fff;
  padding-top:30px;
  border-bottom:1px solid #d9d9d9;
}

.useguide-in {
	width:1100px;
	margin:0 auto;	
}
  
.useguide-title {
	font-family: 'NanumSquare', gulim;
  font-size:48px;
  font-weight:500;
  color:#3b3b3b;
  letter-spacing:-1px;
  text-align:center;
  margin:0px; 
  padding:20px 0px 50px 0px;
  background:url(/images/title_line.png) no-repeat 50% 0px;  
  border-bottom:4px solid #3b3b3b;
}

.useguide-left {
	float:left;
	width:220px;
}

.useguide-left .menu-div {
	height:166px;
	font-family: 'Noto Sans KR', gulim;
	font-size:30px;
	font-weight:500;
	letter-spacing:-1px;	
  color:#3b3b3b;	
  line-height:166px;
	background-color:#f0f6fa;
	border-bottom:1px solid #d9d9d9;
  text-align:center;
}

.useguide-left .menu-div>p {
	padding-top:47px;
	line-height:120%;
}

.useguide-left .left-ul {
	padding:0px;
}

.useguide-left .left-ul > li {
	height:50px;
	border-bottom:1px solid #d9d9d9;
}

.useguide-left .left-ul > li > a {
	display:block;
	height:50px;
	font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:400;
  letter-spacing:-1px;
  color:#3b3b3b;	
	line-height:50px;
	padding-left:15px;
	border-bottom:1px solid #d9d9d9;
}

.useguide-left .left-ul > li > a.active,
.useguide-left .left-ul > li > a:hover {
	color:#fff;
	text-decoration: none;
	background:url(/images/mypage_left_arrow.png) no-repeat 200px 50%;
	background-color:#0989d9;
}	

#template-caregrade .caregrade-main {
	font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  color:#3b3b3b;	
  letter-spacing:-1px;
	margin:0px 0px 230px 270px;
}

#template-caregrade .caregrade-menu-title {
	font-family: 'NanumSquare', gulim;
  font-size:25px;
  font-weight:500;
  letter-spacing:-1px;
  color:#3b3b3b;
	margin:50px 0px 30px 0px;
	padding-left:25px;
	background:url(/images/mypage_title.png) no-repeat 0px 50%;
}

#template-caregrade .dot {
	padding-left:18px;
	background:url(/images/dot.png) no-repeat 0px 50%;		
}	


#template-caregrade .step-ul {
	list-style-type:none;
	padding:25px;
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius: 5px;
	margin:0px;
}

#template-caregrade .step-ul>li {
	padding:2px;
}	

#template-caregrade .step {
	font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  color:#3b3b3b;	
  letter-spacing:-1px;
	margin-top:50px;
}	

#template-caregrade .step-title {
	font-size:25px;
	font-weight:400;
	margin-bottom:20px;
}

#template-caregrade .no {
	color:#0989d9;
}

#template-caregrade .step table tr {
	border-bottom:1px solid #cacaca;
}	

#template-caregrade .step table th {
	text-align:center;
	vertical-align:middle;
}	

#template-caregrade .step table td {
	padding:15px;
}	

#template-caregrade .step table>thead>tr {
	border-top:3px solid #679bbb;
	background-color:#f0f6fa;	
}	

#template-caregrade .right-border {
	border-right:1px solid #cacaca;	
}

#template-caregrade .link {
	color:#0989d9;	
	font-weight:400;
}

#template-longtermcare .longtermcare-main {
	font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  color:#3b3b3b;	
  letter-spacing:-1px;
	margin:0px 0px 230px 270px;
}

#template-longtermcare .longtermcare-menu-title {
	font-family: 'NanumSquare', gulim;
  font-size:25px;
  font-weight:500;
  letter-spacing:-1px;
  color:#3b3b3b;
	margin:50px 0px 30px 0px;
	padding-left:25px;
	background:url(/images/mypage_title.png) no-repeat 0px 50%;
}

#template-longtermcare .dot {
	padding-left:18px;
	background:url(/images/dot.png) no-repeat 0px 10px;		
}	

#template-longtermcare .step-ul {
	list-style-type:none;
	padding:25px;
	height:113px;
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius: 5px;
	margin:0px 0px 20px 0px;
}

#template-longtermcare .step-ul>li {
	float:left;
	height:30px;
}	

#template-longtermcare .step-ul .left-arrow {
	width:25px;
	background:url(/images/useguide_left_arrow.png) no-repeat 50% 50%;	
}	

#template-longtermcare .text-red {
	color:#dd3d3e;
}

#template-longtermcare .longtermcare-ul {
	list-style-type:none;	
	padding:0px;
}

#template-longtermcare .title-color {
	font-weight:500;
	color:#0989d9;
}

#template-longtermcare .underline {
	text-decoration:underline;
}

#template-longtermcare .longtermcare-ul table {
	margin:20px 0px 20px 0px;
}

#template-longtermcare .longtermcare-ul table tr {
	border-bottom:1px solid #cacaca;
}	

#template-longtermcare .longtermcare-ul table th {
	text-align:center;
	vertical-align:middle;
}	

#template-longtermcare .longtermcare-ul table td {
	padding:10px;
}	

#template-longtermcare .longtermcare-ul table>thead>tr {
	border-top:3px solid #679bbb;
	background-color:#f0f6fa;	
}	

#template-longtermcare .right-border {
	border-right:1px solid #cacaca;	
}

#template-longtermcare .search-btn {
	text-align:center;
	text-decoration: none;
	color:#3b3b3b;
	display:block;
	font-size:20px;
	font-weight:400;
	width:165px;
	height:45px;
	line-height:42px;
	border:1px solid #cacaca;
	background-color:#f0f6fa;
	margin:20px 0px 45px 330px;
}

#template-longtermcare .longtermcare-li-txt {
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius: 5px;
	margin:0px;
	padding:30px 0px 30px 25px;	
}

#template-joincare-service .useguide {
	padding-bottom:200px;
}

#template-joincare-service .joincare-service-main {
	font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  color:#3b3b3b;	
  letter-spacing:-1px;
	margin:0px 0px 230px 270px;
}

#template-joincare-service .joincare-service-menu-title {
	font-family: 'NanumSquare', gulim;
  font-size:25px;
  font-weight:500;
  letter-spacing:-1px;
  color:#3b3b3b;
	margin:50px 0px 30px 0px;
	padding-left:25px;
	background:url(/images/mypage_title.png) no-repeat 0px 50%;
}

#template-joincare-service .dot {
	padding-left:18px;
	background:url(/images/dot.png) no-repeat 0px 50%;		
}	

#template-joincare-service .step-ul {
	padding:0px;
	height:830px;
}

#template-joincare-service .step-ul>li {
	list-style-type:none;
	text-align:center;
	padding:12px 0px 28px 0px;
}	

#template-joincare-service .down-arrow {
	background: url(/images/down_arrow.png) no-repeat center bottom;	
}

#template-joincare-service .li-txt {
	width:255px;
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius:5px;
	padding:20px 0px 20px 0px;
	margin:0px;
}

#template-joincare-service .down-arrow {
	background: url(/images/down_arrow.png) no-repeat center bottom;	
}


#template-joincare-service .text-red {
	color:#dd3d3e;
}

#template-joincare-service .joincare-service-ul {
	list-style-type:none;	
	padding:0px;
}

#template-joincare-service .title-color {
	font-weight:500;
	color:#0989d9;
}

#template-joincare-service .underline {
	text-decoration:underline;
}

#template-joincare-service .joincare-service01 table {
	margin:20px 0px 20px 0px;
}

#template-joincare-service .joincare-service01 table tr {
	border-bottom:1px solid #cacaca;
}	

#template-joincare-service .joincare-service01 table th {
	text-align:center;
	vertical-align:middle;
}	

#template-joincare-service joincare-service01 table td {
	padding:10px;
}	

#template-joincare-service .joincare-service01 table>thead>tr {
	border-top:3px solid #679bbb;
	background-color:#f0f6fa;	
}	

#template-joincare-service .right-border {
	border-right:1px solid #cacaca;	
}

#template-joincare-service .service02-img {
	height:540px;
	background:url(/images/service02_img.png) no-repeat 0px 0px;	
	margin:30px 0px 40px 0px;
}

#template-joincare-service .service03-txt {
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius:5px;
	padding:20px 0px 20px 18px;
	margin:20px 0px 0px 0px;
	background:url(/images/joincare-tail1.png) no-repeat 22px bottom;
}

#template-joincare-service .service03-txt1 {
	height:127px;
	background:url(/images/service03_txt01.png) no-repeat 0px 0px;
	padding:23px 0px 0px 25px;
}

#template-joincare-service .service03-txt2 {
	height:127px;
	background:url(/images/service03_txt02.png) no-repeat 0px 0px;
	padding:23px 0px 0px 25px;
}

#template-joincare-service .service03-txt3 {
	height:147px;
	background:url(/images/service03_txt03.png) no-repeat 0px 0px;
	padding:23px 0px 0px 25px;
}
	
#template-joincare-service .service03-bictxt {
	font-size:38px;
	text-align:center;
	margin:60px 0px 50px 0px;
}


#template-joincare-service .service03-ul {
	list-style-type:none;	
	padding:0px;
}

#template-joincare-service .service03-ul>li {
	float:left;
	width:140px;
	height:140px;
	border-radius:100%;
	text-align:center;	
	margin:0px 2px;
}

#template-joincare-service .circle0 {
	width:140px !important;
	height:142px !important;
	border-radius:0% !important;
	background:url(/images/service03_watch.png) no-repeat 50% 50%;	
}

#template-joincare-service .circle1 {
	background-color:#dbeed0;
	padding-top:47px;
	margin-left:-35px !important;
}

#template-joincare-service .circle2 {
	background-color:#d0e6ee;
	padding-top:60px;
}

#template-joincare-service .circle3 {
	background-color:#d6d0ee;
	padding-top:60px;
}

#template-joincare-service .circle4 {
	background-color:#eed0e6;
	padding-top:47px;
}

#template-joincare-service .circle5 {
	background-color:#eed0e6;
	padding-top:47px;
}

#template-joinguide .joinguide-main {
	font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  color:#3b3b3b;	
  letter-spacing:-1px;
	margin:0px 0px 230px 270px;
}

#template-joinguide .joinguide-menu-title {
	font-family: 'NanumSquare', gulim;
  font-size:25px;
  font-weight:500;
  letter-spacing:-1px;
  color:#3b3b3b;
	margin:50px 0px 30px 0px;
	padding-left:25px;
	background:url(/images/mypage_title.png) no-repeat 0px 50%;
}

#template-joinguide .dot {
	padding-left:18px;
	background:url(/images/dot.png) no-repeat 0px 10px;		
}	

#template-joinguide .text-red {
	color:#dd3d3e;
	line-height:100%;
}

#template-joinguide .joinguide-ul {
	list-style-type:none;	
	padding:0px;
}

#template-joinguide .title-color {
	font-weight:500;
	color:#0989d9;
}

#template-joinguide .underline {
	text-decoration:underline;
}

#template-joinguide .joinguide-ul table {
	margin:20px 0px 20px 0px;
}

#template-joinguide .joinguide-ul table tr {
	border-bottom:1px solid #cacaca;
}	

#template-joinguide .joinguide-ul table th {
	text-align:center;
	vertical-align:middle;
}	

#template-joinguide .joinguide-ul table td {
	padding:15px 10px;
	vertical-align:middle;
}	

#template-joinguide .joinguide-ul table>thead>tr {
	border-top:3px solid #679bbb;
	background-color:#f0f6fa;
}	

#template-joinguide .right-border {
	border-right:1px solid #cacaca;	
}

#template-joinguide .search-btn {
	text-align:center;
	text-decoration: none;
	color:#3b3b3b;
	display:block;
	font-size:20px;
	font-weight:400;
	width:165px;
	height:45px;
	line-height:42px;
	border:1px solid #cacaca;
	background-color:#f0f6fa;
	margin:20px 0px 45px 330px;
}

#template-joinguide .longtermcare-li-txt {
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius: 5px;
	margin:0px;
	padding:30px 0px 30px 25px;	
}

#template-emergency .emergency-main {
	font-family: 'Noto Sans KR', gulim;
  font-size:18px;
  font-weight:300;
  letter-spacing:-1px;
  color:#3b3b3b;	
  letter-spacing:-1px;
	margin:0px 0px 230px 270px;
}

#template-emergency .emergency-menu-title {
	font-family: 'NanumSquare', gulim;
  font-size:25px;
  font-weight:500;
  letter-spacing:-1px;
  color:#3b3b3b;
	margin:50px 0px 30px 0px;
	padding-left:25px;
	background:url(/images/mypage_title.png) no-repeat 0px 50%;
}

#template-emergency .top-img {
	text-indent:-9999px;
	height:160px;
	margin-bottom:30px;
	background:url(/images/emergency_img.jpg) no-repeat 0px 0px;		
}

#template-emergency .step-ul {
	list-style-type:none;
	padding:25px;
	background-color:#f6f6f6;
	border:1px solid #dfdfdf;
	border-radius: 5px;
	margin:0px;	
}

#template-emergency .step-ul>li {
	padding:2px;
}	

#template-emergency .text-red {
	color:#dd3d3e;
}